@charset "utf-8";
/* CSS Document */
body,ul,p,ol,li,h1,h2,h3,h4,h5,h6,form,dl,dt,dd,input,span{margin:0;padding:0;font:12px/21px,"",Arial,sans-serif;font-size:12px;}
body,h1,h2,h3,h4,h5,p,ul,dl,dd,dt,input{margin:0;padding:0;}
*:focus {outline: none;}
input,button,select,textarea{outline:none}
ul{list-style:none}
img{border:0;display:block}
body{"Microsoft Yahei",Helvetica,Arial,sans-serif ;-webkit-tap-highlight-color:rgba(0,0,0,0);font-family:"微软雅黑";!important}
body{background:#f6f7fa;}
h6{clear: both;}
a{text-decoration:none;color:#333;}
.wp1200{width: 1025px;margin: 0 auto;}
.wp100{width:100%;margin:0 auto;}
.wp95{width: 95%;margin: 0 auto;}
a:hover{transition:0.25s;}
/*其他*/
.bk{display: block;}
.dn{display: none;}
.tc{ text-align:center;}
.oh{overflow: hidden;}
.op0{opacity: 0;}
.lh18{line-height: 18px;}
.lh20{line-height: 20px;}
.lh22{line-height: 22px;}
.lh25{line-height: 25px;}
.lh30{line-height: 30px;}
.fb{font-weight: bold;}
.cpr{cursor:pointer;}
.brd5{border-radius:5px}
.fl{float:left !important}
.fr{float:right !important}
.cler{clear:both}
.pr{position:relative}
.di{display: inline-block;}

/*字体颜色，背景颜色*/
.cor1{color:#FFFFFF;}
.cor3{color:#333333;}
.cor6{color:#666666;}
.cor9{color:#999999;}
.cor10{color:#e51785;}
.cor11{color:#00a1e7;}
.bag1{background:#FFFFFF;}

/*font-size*/
.f10{font-size:10px;}
.f12{font-size:12px !important;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
/*margin*/
.m0{margin:0;}
.mt0{margin-top:0;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.mr0{margin-right: 0 !important;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr5{margin-right:5px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
/*padding*/
.p0{padding:0 !important;}
.pt0{padding-top:0;}
.p5{padding:5px;}
.p10{padding:10px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt24{padding-top:24px;}
.pt30{padding-top:30px;}
.p10_0{padding:10px 0;}
.p15_0{padding:15px 0;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.p0_10{padding:0 10px;}
.p0_15{padding:0 15px;}
.p15_0{padding:15px 0;}
.p20_0{padding:20px 0;}
.p25_0{padding:25px 0;}
.pl0{padding-left:0;}
.pr0{padding-right:0;}
.pb0{padding-bottom:0;}
/*border*/
.b0{border: 0 !important;}
.bt0{border-top:0}
.bl0{border-left:0}
.br0{border-right:0}
.bb0{border-bottom:0}
.bor_b{border-bottom:1px solid #dcdcdc;}
.bor_bt{border-bottom:1px solid #dcdcdc;border-top:1px solid #dcdcdc;}
