/* CSS Document */
.header{width: 100%;height: 185px;background:#f6f7fa;font-family: '微软雅黑';min-width: 1200px;}
.logo_xhm{height: 30px;line-height: 30px;background: #fff;}
p span.f20{font-weight: bold;margin-left: 3px;}
/*header_left*/
.fl_ul{float: left;}
.fl_ul li{float: left;font-size: 12px;color: #999999;margin-right: 25px;}
.fl_ul li a,.fr_ul li a{color: #666;font-size: 14px;line-height: 33px;}
.fl_ul li a:hover,.fr_ul li a:hover{color: #666;}
/*header_right*/
.fr_ul{float: right;}
.fr_ul li{float: left;font-size: 12px;margin-right: 8px;color: #999;}
/*搜索*/
.height_sousuo{height:70px;margin:30px 0 20px 0;}
.logo_div{width:190px;float:left;}
.sousuo_div{width:620px;float:left;margin-top:20px;}
.sousuo_text{width:520px;height:35px;line-height:35px;border:1px solid #cccccc;background:#FFF;font-size:12px;float:left;border-right:0;padding-left: 15px;}
.sousuo_btn{background: #7a020a;width:80px;height:37px;line-height:35px;font-size:14px;color: #ff2e07;border:0;cursor:pointer;font-weight:900;}
.sousuo_div .fl_ul li{margin-right:8px;}
.suosou-i{width: 13px;height: 13px;background-position:-52px 0;position: absolute;left: 8px;top: 13px;}
/*二级菜单*/
.nav{width:100%;height:35px;line-height:35px;background:#bf0000;min-width:1200px;font-family: '微软雅黑';position: relative;z-index: 9;margin-top: 15px;}
.feinei_tit{width: 200px;text-align: center;font-size: 14px;background: #e51785;height: 35px;line-height: 35px;display: block;color:#FFF;}
.navlist{width: auto;height: 35px;}
.navlist li{float: left;height: 35px;line-height: 35px;text-align: center;color:#FFF;font-size:14px;overflow:hidden;}
.navlist li a{color: #FFF;font-size: 14px;width: 80px;text-align: center;display: block;}
.navlist li a:hover{background: #dc0000;}
.navlist li a.current{background: #dc0000;}
/*漂浮*/
.pfxed{position: fixed;width:45px;top:320px;right: 0;transition:0.25s;background: #2f2f2f;}
.pfxed li{position: relative;}
.pfxed li a{width: 45px;height: 29px;background: #2f2f2f;text-align: center;padding: 15px 0;display: block;transition:0.45s;position: relative;}
.pfxed i{width: 29px;height: 29px;display:inline;display: inline-block;background: url(../images/png/pic5.png);}
.pfxed i.i3{background-position: -6px -14px;}
.pfxed i.i4{background-position: -6px -88px;}
.pfxed i.i2{background-position: -51px -14px;}
.pfxed i.i1{background-position: -91px -14px;margin-left: 2px;}
.pfxed li a.a1 b{letter-spacing: -1px;width: 190%;}
.pfxed li.li1s:hover a{width: 200px;margin-left: -155px;background: #bf0000;}
.pfxed li .as1{position: absolute;}
.pfxed li a b{color: #fff;position: absolute;top:20px;left:0;width: 140%;display: none;}
.pfxed li a:hover{width: 150px;margin-left: -105px;background: #bf0000;}
.pfxed li:hover i,
.pfxed li:hover b{font-size: 14px;font-weight: 100;float:left;margin-left: 10px;display: block;text-align: left;left: 35px;}
.pfxed li:hover i.i1{background-position: -91px -56px;}
.pfxed li:hover i.i2{background-position: -51px -56px;}
.pfxed li:hover i.i3{background-position: -6px -56px;}

.mask-cons{padding: 15px 22px;background: #f6f7fa;width: 360px;height:300px;position: fixed;left:50%;top:50%;margin: -150px 0 0 -180px;z-index: 9999;display: none;}
.mask-cons b{display: block; width: 25px; height: 25px; line-height: 25px; font-size: 14px; position: absolute; right: -10px; top: -12px; background: #f6f7fa; border-radius: 50%; text-align: center;cursor: pointer;}
.mask-cons h1{margin-bottom: 15px;font-size: 16px;font-weight: 100;}
.fk-cons textarea{width: 96%;height:180px;border: 1px solid #e8e9ed;padding: 2%;font-size: 14px;}
.fk-cons .btns{margin-top: 18px;}
.fk-cons .btns .btn{width: 160px;height:40px;line-height: 40px;text-align: center;display: block;font-size: 16px;border-radius: 3px;}
.fk-cons .btns .btn.fl{background: #e7e8ec;}
.fk-cons .btns .btn.fr{background: #bf0000;color: #fff;}
/*登录*/
.login-cons{}
.login-cons h1{text-align: center;margin-top: 15px;}
.login-cons input{width: 95%;padding:3% 2%;margin: 10px 0;border: 1px solid #e8e9ed;}
.login-cons label{position: relative;margin-top: 7px;display: block;}
.login-cons label input{width: 15px;height:15px;padding: 0;margin: 0;position: absolute;top:0;border: 1px solid #e8e9ed;}
.login-cons label span{margin-left: 20px;}
.login-cons .btn{width: 100%;height:40px;line-height: 40px;text-align: center;display: block;font-size: 16px;border-radius: 3px;background: #bf0000;color: #fff;margin-top: 25px;}
.login-cons p a{font-size: 14px;color: #666;}
.theme-popover-mask{z-index:999;position:fixed;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.2;filter:alpha(opacity=20);-moz-opacity:0.2;background-size:100% 100%;display: none;}
/*列表*/
.goods-list{min-height:600px;background: #fff;margin-top: 25px;}
.goods-list .item a:hover{background: #e7e8ec;transition: 0.35s;}
.goods-list .item a{display: block;border-bottom: 1px solid #e7e8ec;height:100px;line-height: 100px;transition: 0.35s;}
.goods-list .item h1 img{width: 60px;height:60px;float:left;padding: 20px;}
.goods-list .item h3{float:left;width: 525px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;font-weight: 100;}
.goods-list .item b,
.goods-list .item p{float:left;display: block;width: 80px;text-align: center;font-size: 14px;}
.goods-list .item b span{background: #bf0000;color: #f0d08e;font-size: 12px;text-align: center;width: 35px;height: 35px;line-height: 35px;display: block;margin: 33px auto;font-weight: 100;}
.goods-list .item h5{width:80px;float:left;}
.goods-list .item h5 img{width: 27px;height:27px;margin: 37px auto;}
/*左侧悬浮*/
.left-pfxed{position: fixed;top:210px;background: #fff;margin-left: -90px;padding: 15px 0;}
.left-pfxed li{position: relative;}
.left-pfxed li p{padding:13px 20px;font-size: 16px;cursor: pointer;}
.left-pfxed li:hover{background: #e7e8ec;}
.left-pfxed li.li1 .two-menu1{top:-15px;}
.left-pfxed li.li2 .two-menu1{top:-62px;}
.left-pfxed li.li3 .two-menu1{top:-109px;}
.left-pfxed li.li4 .two-menu1{top:-156px;}
.two-menu1{position: absolute;width: 400px;min-height:250px;background: #e7e8ec;left:68px;top:0;display: none;padding: 15px 20px;}
.two-menu1 label{position: relative;}
.two-menu1 label input{position: absolute;top:2px;}
.two-menu1 label span{margin-left: 18px;font-size: 14px;}
.two-menu1 dt{margin-top:5px;width: 60px;float: left;min-height: 240px;}
.two-menu1 dd{float:left;margin-right: 15px;line-height: 30px;}
.left-pfxed li:hover .two-menu1{display: block;}
.tab-menu{margin: -13px;margin-bottom: 8px;}
.tab-menu h1{float:left;width: 16.666666%;text-align: center;font-weight: 100;cursor: pointer;display: block;background: #fff;padding: 15px 0;}
.tab-menu h1.selected{background: #e7e8ec;}
.tab-menu h1 span{margin-left: 0;}
.tab-cons dl{display: none;}
/*index-footer*/
.index-footer{background: #e7e8eb;width: 100%;height: 195px;min-width: 1200px;clear:both;clear: both;margin-top: 35px;}
.end-div{clear: both;font-size: 12px;margin-bottom: 20px;}
.end-div p{color: #333;font-size: 12px;line-height: 24px;}
.end-div h1{padding: 15px 0 10px 0;font-size: 14px;font-weight: 100;}
.end-ul{margin-bottom: 15px;}
.end-ul li{text-align: center;position: relative;z-index: 2;margin-right:30px;display: inline-block;font-size: 14px;line-height: 28px;}
.end-ul li a{color: #333;}
.end-ul li a:hover{text-decoration: underline;color: #666;}
/*注册*/
.reg-header{background: #fff;font-family: '微软雅黑';}
.reg-header .logo_div{width:300px;}
.reg-header .logo_div a{display: block;float:left;margin-right: 10px;}
.reg-header .logo_div p{font-size: 20px;color: #666;margin-top: 50px;}
.reg-header .height_sousuo{margin: 0;padding: 60px 0;}
.reg-header .right{float:right;margin-top: 38px;}
.reg-header .right p{float:left;margin-right: 10px;margin-top: 15px;font-size: 14px;}
.reg-header .right .btn{float:left;width: 100px;height:35px;line-height: 35px;text-align: center;display: block;font-size: 16px;border-radius: 3px;background: #e7e8ec;}
.reg-cons{width: 560px;margin: 120px auto 200px auto;}
.reg-cons li input{width: 345px;height:38px;line-height:38px;margin-bottom: 28px;padding-left: 8px;border: 1px solid #e8e9ed;}
.reg-cons li label{width: 80px;display: block;float: left;text-align: right;line-height: 40px;margin-right: 10px;font-size: 14px;}
.reg-cons li.yzm-li input{width: 250px;float:left;}
.reg-cons li.yzm-li img{background: #666;width: 85px;height:40px;float:left;margin-left: 10px;}
.reg-cons li.yzm-li .qh-a{    margin-left: 10px;display: block;float: left;margin-top: 10px;font-size: 14px;}
.reg-cons li.xy-li{margin-top: -15px;}
.reg-cons li.xy-li label{width: 400px;text-align: left;margin-left: 90px;position: relative;line-height: inherit;}
.reg-cons li.xy-li input{width: 15px;height:15px;position: absolute;top:2px;left: 0;padding-left: 0;}
.reg-cons li.xy-li span{margin-left: 18px;}
.reg-cons li.xy-li a{color: #0099ff;}
.reg-cons li.btn-li input{margin: 30px 0 0 90px;background: #bf0000;padding:0;width:355px;border: 0;font-size: 14px;color: #fff;border-radius: 5px;}
/*提示*/
.goods-prompt{width: 420px;padding: 80px 0;margin: 0 auto;}
.goods-prompt img{float:left;}
.goods-prompt h1{float:left;font-size: 18px;font-weight: 100;color: #666;margin-top: 80px;margin-left: 20px;}
.rightsss{position: fixed;top:0;right:0;width: 7px;height:100%;background: #2f2f2f;z-index: 999999;}





.reg-cons li:after,
.end-ul:after,
.goods-list .item a:after{clear: both;content:"";display: block;}




