<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="../static/css/base.css" rel="stylesheet" type="text/css">
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/search.js"></script>
</head>
<body id="body">

<header>

    <div class="rightsss"></div>
    <div class="header">
        <div class="logo_xhm">
            <div class="wp1200">
                <ul class="fr_ul">
                    <li><a class="login-btn" href="javascript:;">登录</a></li>
                    <li>|</li>
                    <li><a href="/user/reg" target="_blank">注册</a></li>
                    {% if user %}
                    <li>  |</li>
                    <li>{{ user }}, welcome</li>
                    {% end %}
                </ul>
            </div>
        </div>
        <div class="mask-cons login-cons">
            <h1>用户登录</h1>
            <input type="text" placeholder="账号"/>
            <input type="password" placeholder="密码"/>
            {% raw xsrf_form_html() %}
            <label><input type="checkbox"/><span>保持登录</span></label>
            <a href="" class="btn">登 录</a>
            <p class="mt20">
                <a href="" class="fl">忘记密码</a>
                <a href="" class="fr" style="color: #333;">免费注册</a>
            </p>
            <b class="close">×</b>
        </div>
        <!--搜索开始-->
        <div class="wp1200">
            <div class="height_sousuo wp1200">
                <div class="logo_div">
                    <a href=""><img src="../static/images/png/pic1.png"/></a>
                </div>
                <div class="sousuo_div pr">
                    <div>
                        <input type="text" class="sousuo_text" placeholder="输入搜索关键字, 多关键字用空格表示"/>
                        <input class="sousuo_btn" type="submit" value="搜索"/>
                    </div>
                </div>
            </div>
        </div>
        <!--搜索结束-->
        <!--菜单开始-->
        <div class="nav cler">
            <div class="wp1200">
                <ul class="navlist fl">
                    <li><a href="">商品</a></li>
                    <li><a href="">信息</a></li>
                </ul>
                <ul class="navlist fr">
                    <li><a href="">折扣</a></li>
                    <li><a href="">现价</a></li>
                    <li><a href="">历史价</a></li>
                    <li><a href="">库存</a></li>
                    <li><a href="">平台</a></li>
                </ul>
            </div>
        </div>
        <!--菜单结束-->
    </div>

    <!--右侧漂浮、qq、返回顶部-->
    <ul class="pfxed">
        <li class="li1s">
            <a href="" class="a1"><i class="i2"></i><b>QQ 556411784</b></a>
            <a href="" class="a1 as1"><i class="i4"></i><b>15855477721</b></a>
        </li>
        <li class="li2"><a href="javascript:;"><i class="i1"></i><b>反馈意见</b></a></li>
        <li><a href="#body"><i class="i3"></i><b>返回顶部</b></a></li>
    </ul>
    <div class="theme-popover-mask"></div>
    <div class="mask-cons fk-cons">
        <h1>反馈建议</h1>
        <textarea placeholder="请留下你宝贵的建议，帮助我们改进，让我们做的更好。"></textarea>
        <div class="btns">
            <a href="" class="btn fl">取 消</a>
            <a href="" class="btn fr">提 交</a>
        </div>
        <b class="close">×</b>
    </div>
</header>
<section>
    <div class="wp1200">
        <ul class="left-pfxed">
            <li class="li1">
                <p>分类</p>
                <div class="two-menu1">
                    <dl>
                        <dt><label><input type="checkbox"/><span>类型</span></label></dt>
                        <dd><label><input type="checkbox"/><span>衣服</span></label></dd>
                        <dd><label><input type="checkbox"/><span>裤子</span></label></dd>
                        <dd><label><input type="checkbox"/><span>帽子</span></label></dd>
                        <dd><label><input type="checkbox"/><span>拖鞋</span></label></dd>
                        <dd><label><input type="checkbox"/><span>皮鞋</span></label></dd>
                        <dd><label><input type="checkbox"/><span>腰带</span></label></dd>
                        <dd><label><input type="checkbox"/><span>手套</span></label></dd>
                        <dd><label><input type="checkbox"/><span>外套</span></label></dd>
                        <dd><label><input type="checkbox"/><span>衣服</span></label></dd>
                        <dd><label><input type="checkbox"/><span>裤子</span></label></dd>
                        <dd><label><input type="checkbox"/><span>帽子</span></label></dd>
                        <dd><label><input type="checkbox"/><span>拖鞋</span></label></dd>
                        <dd><label><input type="checkbox"/><span>皮鞋</span></label></dd>
                        <dd><label><input type="checkbox"/><span>腰带</span></label></dd>
                        <dd><label><input type="checkbox"/><span>手套</span></label></dd>
                        <dd><label><input type="checkbox"/><span>外套</span></label></dd>
                    </dl>
                </div>
            </li>
            <li class="li2">
                <p>折扣</p>
                <div class="two-menu1">
                    <dl>
                        <dt><label><input type="checkbox"/><span>全部</span></label></dt>
                        <dd><label><input type="checkbox"/><span>1折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>2折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>3折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>4折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>5折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>6折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>1折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>2折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>3折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>4折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>5折</span></label></dd>
                        <dd><label><input type="checkbox"/><span>6折</span></label></dd>
                    </dl>
                </div>
            </li>
            <li class="li3">
                <p>商城</p>
                <div class="two-menu1">
                    <dl>
                        <dt><label><input type="checkbox"/><span>全部</span></label></dt>
                        <dd><label><input type="checkbox"/><span>京东商城</span></label></dd>
                        <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                        <dd><label><input type="checkbox"/><span>当当网</span></label></dd>
                        <dd><label><input type="checkbox"/><span>1号店</span></label></dd>
                        <dd><label><input type="checkbox"/><span>新蛋网</span></label></dd>
                        <dd><label><input type="checkbox"/><span>国美在线</span></label></dd>
                        <dd><label><input type="checkbox"/><span>微软中国</span></label></dd>
                        <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                        <dd><label><input type="checkbox"/><span>苏宁易购</span></label></dd>
                        <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                        <dd><label><input type="checkbox"/><span>当当网</span></label></dd>
                        <dd><label><input type="checkbox"/><span>1号店</span></label></dd>
                        <dd><label><input type="checkbox"/><span>新蛋网</span></label></dd>
                        <dd><label><input type="checkbox"/><span>国美在线</span></label></dd>
                        <dd><label><input type="checkbox"/><span>微软中国</span></label></dd>
                        <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                        <dd><label><input type="checkbox"/><span>苏宁易购</span></label></dd>
                    </dl>
                </div>
            </li>
            <li class="li4">
                <p>地区</p>
                <div class="two-menu1">
                    <div class="tab-menu">
                        <h1><label><input type="checkbox"/><span style="margin-left: 18px;">全部</span></label></h1>
                        <h1><label><span>ABCDE</span></label></h1>
                        <h1><label><span>FGHIJ</span></label></h1>
                        <h1><label><span>KLMNO</span></label></h1>
                        <h1><label><span>PQRST</span></label></h1>
                        <h1><label><span>UVWXYZ</span></label></h1>
                        <h6></h6>
                    </div>
                    <div class="tab-cons">
                        <dl></dl><!--此dl不要删除 要保留一个空的！-->
                        <dl>
                            <dd><label><input type="checkbox"/><span>京东商城</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>当当网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>1号店</span></label></dd>
                            <dd><label><input type="checkbox"/><span>新蛋网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>国美在线</span></label></dd>
                            <dd><label><input type="checkbox"/><span>微软中国</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>苏宁易购</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>当当网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>1号店</span></label></dd>
                            <dd><label><input type="checkbox"/><span>新蛋网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>国美在线</span></label></dd>
                            <dd><label><input type="checkbox"/><span>微软中国</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>苏宁易购</span></label></dd>
                        </dl>
                        <dl>
                            <dd><label><input type="checkbox"/><span>京东商城</span></label></dd>
                            <dd><label><input type="checkbox"/><span>1折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>2折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>3折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>4折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>5折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>6折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>1折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>2折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>3折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>4折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>5折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>6折</span></label></dd>
                        </dl>
                        <dl>
                            <dd><label><input type="checkbox"/><span>当当网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>帽子</span></label></dd>
                            <dd><label><input type="checkbox"/><span>拖鞋</span></label></dd>
                            <dd><label><input type="checkbox"/><span>皮鞋</span></label></dd>
                            <dd><label><input type="checkbox"/><span>腰带</span></label></dd>
                            <dd><label><input type="checkbox"/><span>手套</span></label></dd>
                            <dd><label><input type="checkbox"/><span>外套</span></label></dd>
                            <dd><label><input type="checkbox"/><span>衣服</span></label></dd>
                            <dd><label><input type="checkbox"/><span>裤子</span></label></dd>
                            <dd><label><input type="checkbox"/><span>帽子</span></label></dd>
                            <dd><label><input type="checkbox"/><span>拖鞋</span></label></dd>
                            <dd><label><input type="checkbox"/><span>皮鞋</span></label></dd>
                            <dd><label><input type="checkbox"/><span>腰带</span></label></dd>
                            <dd><label><input type="checkbox"/><span>手套</span></label></dd>
                            <dd><label><input type="checkbox"/><span>苏宁易购</span></label></dd>
                        </dl>
                        <dl>
                            <dd><label><input type="checkbox"/><span>皮鞋</span></label></dd>
                            <dd><label><input type="checkbox"/><span>腰带</span></label></dd>
                            <dd><label><input type="checkbox"/><span>手套</span></label></dd>
                            <dd><label><input type="checkbox"/><span>3折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>4折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>当当网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>1号店</span></label></dd>
                            <dd><label><input type="checkbox"/><span>新蛋网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>国美在线</span></label></dd>
                            <dd><label><input type="checkbox"/><span>5折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>6折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>1折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>2折</span></label></dd>
                            <dd><label><input type="checkbox"/><span>外套</span></label></dd>
                            <dd><label><input type="checkbox"/><span>衣服</span></label></dd>
                            <dd><label><input type="checkbox"/><span>裤子</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>苏宁易购</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>微软中国</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>苏宁易购</span></label></dd>
                        </dl>
                        <dl>
                            <dd><label><input type="checkbox"/><span>京东商城</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>当当网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>1号店</span></label></dd>
                            <dd><label><input type="checkbox"/><span>新蛋网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>国美在线</span></label></dd>
                            <dd><label><input type="checkbox"/><span>微软中国</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>苏宁易购</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>当当网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>1号店</span></label></dd>
                            <dd><label><input type="checkbox"/><span>新蛋网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>国美在线</span></label></dd>
                            <dd><label><input type="checkbox"/><span>微软中国</span></label></dd>
                            <dd><label><input type="checkbox"/><span>优购网</span></label></dd>
                            <dd><label><input type="checkbox"/><span>苏宁易购</span></label></dd>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>
        <div class="goods-list">
            {% raw xsrf_form_html() %}
            <div class="container item">
                {% for item in item_set %}
                <a target="_blank" href="{{ item['href'] }}">
                    <h1><img src="{{ item['jpg'] }}" height="64" width="64"/></h1>
                    <h3>{{ item['name'] }}</h3>

                    <b><span>{{ item['discount'] }} 折</span></b>
                    <p>{{ item['current_price'] }}</p>
                    <p>{{ item['history'] }}</p>
                    <p>充足</p>
                    {#                            <p>{{ item['last_time'] }}</p>#}
                    {% if item['platform'] =='mp' %}
                    <h5><img src="../static/images/png/pic2.png"/></h5>
                    {% else %}
                    <h5><img src="../static/images/png/pc.jpg"/></h5>
                    {% end %}
                    <h6></h6>
                </a>
                {#                         <p>{{ item['last_time'] }}</p>#}
                {% end %}
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="index-footer">
        <div class="slogan wp1200">
            <div class="end-div">
                <h1>合作商城</h1>
                <ul class="end-ul">
                    <li><a href="">京东商城</a></li>
                    <li><a href="">优购网</a></li>
                    <li><a href="">苏宁易购</a></li>
                    <li><a href="">当当网</a></li>
                    <li><a href="">1号店</a></li>
                    <li><a href="">易迅网</a></li>
                    <li><a href="">国美在线</a></li>
                    <li><a href="">新蛋网</a></li>
                    <li><a href="">微软中国</a></li>
                    <li><a href="">小米官网</a></li>
                    <li><a href="">京东商城</a></li>
                    <li><a href="">优购网</a></li>
                    <li><a href="">苏宁易购</a></li>
                    <li><a href="">当当网</a></li>
                    <li><a href="">1号店</a></li>
                    <li><a href="">易迅网</a></li>
                    <li><a href="">国美在线</a></li>
                    <li><a href="">新蛋网</a></li>
                    <li><a href="">微软中国</a></li>
                    <li><a href="">小米官网</a></li>
                </ul>
                <p class="tc">© 2015 隔壁老王科技 All rights reserved. 陕ICP备16001454号-3</p>
                <p class="tc">官方交流群：55411245 &nbsp;&nbsp;&nbsp;&nbsp;商务合作qq：554177545</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
<script>
    $(function () {
        $(".two-menu1 dt input").click(function () {
            var ths=$(this);
            if(ths.hasClass("selected")){
                ths.parents("dl").find("dd input").attr("checked",false);
                ths.removeClass("selected");
            }else{
                ths.parents("dl").find("dd input").attr("checked",true);
                ths.addClass("selected");
            }
        });
        /*右侧悬浮反馈*/
        var mask_theme=$(".theme-popover-mask");
        var fk_cons=$(".fk-cons");
        var login_cons=$(".login-cons");
        var close=$(".close");
        $(".pfxed .li2").click(function () {
            mask_theme.fadeIn(300);
            fk_cons.fadeIn(300);
        });
        /*登录*/
        $(".login-btn").click(function () {
            mask_theme.fadeIn(300);
            login_cons.fadeIn(300);
        });
        $(".close ,.theme-popover-mask").click(function () {
            mask_theme.fadeOut(300);
            fk_cons.fadeOut(300);
            login_cons.fadeOut(300);
        });
        /*地区*/
        var dl_cons=$(".tab-cons dl");
        $(".tab-menu h1:first-child").addClass("selected");
        hovers($(".tab-menu h1:nth-child(2)"));
        $(".tab-menu h1").hover(function () {
            hovers($(this));
        });
        function hovers(ths){
            var ths=$(ths);
            var indexss=ths.index();
            ths.addClass("selected").siblings().removeClass("selected");
            if(indexss==0){
                return;
            }
            dl_cons.hide();
            dl_cons.eq(indexss).show();
        }
        $(".tab-menu h1 input").click(function () {
            var ths=$(this);
            if(ths.hasClass("selected")){
                ths.parents(".two-menu1").find("input").attr("checked",false);
                ths.removeClass("selected");
            }else{
                ths.parents(".two-menu1").find("input").attr("checked",true);
                ths.addClass("selected");
            }
        });
    });
</script>