<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form action="/user/login" method="post" style="margin: 0 auto; width:250px;">
        <label>username</label>
        <input name="username" type="text"><br>
        <label>password</label>
        <input name="password" type="password"><br>
        {% module xsrf_form_html() %}
        <input type="submit">
    </form>
</body>
</html>