<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册</title>
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" rel="stylesheet">
    <link href="../static/css/base.css" rel="stylesheet" type="text/css">
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <div class="rightsss"></div>
    <div class="header reg-header">
        <div class="wp1200">
            <div class="height_sousuo wp1200">
                <div class="logo_div">
                    <a href="/"><img src="../static/images/png/pic1.png"/></a>
                    <p>注册惠买账号</p>
                </div>
                <div class="right">
                    <p>我有账号，现在</p><a href="" class="btn">登录</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="reg-container">
        <form action="/user/reg" method="post">
            <ul class="reg-cons">
                <li><label> 用户名</label><input name="username" type="text"/></li>
                <li><label>邮箱</label><input name="email" type="email"/></li>
                <!--<li class="yzm-li"><label>验证码</label><input type="text"/><img src=""/><a href="" class="qh-a">看不清，换一张</a></li>-->
                <li><label>密码</label><input name="password" type="password"/></li>
                {% raw xsrf_form_html() %}
                <li class="xy-li"><label><input type="checkbox"/><span>阅读并接受<a href="">《惠买用户协议》</a></span></label></li>
                <li class="btn-li"><input type="submit" value="注 册"/></li>
            </ul>
        </form>
    </div>
</section>
<footer>
    <div class="index-footer">
        <div class="slogan wp1200">
            <div class="end-div">
                <h1>合作商城</h1>
                <ul class="end-ul">
                    <li><a href="">京东商城</a></li>
                    <li><a href="">优购网</a></li>
                    <li><a href="">苏宁易购</a></li>
                    <li><a href="">当当网</a></li>
                    <li><a href="">1号店</a></li>
                    <li><a href="">易迅网</a></li>
                    <li><a href="">国美在线</a></li>
                    <li><a href="">新蛋网</a></li>
                    <li><a href="">微软中国</a></li>
                    <li><a href="">小米官网</a></li>
                    <li><a href="">京东商城</a></li>
                    <li><a href="">优购网</a></li>
                    <li><a href="">苏宁易购</a></li>
                    <li><a href="">当当网</a></li>
                    <li><a href="">1号店</a></li>
                    <li><a href="">易迅网</a></li>
                    <li><a href="">国美在线</a></li>
                    <li><a href="">新蛋网</a></li>
                    <li><a href="">微软中国</a></li>
                    <li><a href="">小米官网</a></li>
                </ul>
                <p class="tc">© 2015 隔壁老王科技 All rights reserved. 陕ICP备16001454号-3</p>
                <p class="tc">官方交流群：55411245 &nbsp;&nbsp;&nbsp;&nbsp;商务合作qq：554177545</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>





